# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
ENV/
.venv/

# Tests / cobertura
.pytest_cache/
.tox/
.nox/
.coverage*
htmlcov/

# Paquetes / distribución
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / SO
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db

# Variables de entorno
*.env
.env.*
